.addposting {
    border: solid;
    border-radius: 40px;
    border-color: gray;
    width: 600px;
    margin: 100px auto;
    padding: 50px;
}

#input_t,
#input_c {
    height: 30px;
    width: 30%;
    display: block;
    margin: 10px;
}

#but_s {
    margin: 10px;
    background-color: #FFD100;
    border: solid;
    border-color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}