body {
    background: #d2d2d2;
}

.container {
    /*自身的样式*/
    width: 70%;
    min-width: 500px;
    margin: 5vh auto 0;
    box-shadow: #b9b9b9 0 0 6px 4px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    /*内部元素的布局*/
    display: flex;
    flex-direction: column;
}

.header {
    padding: 6px 0;
    text-align: center;
    position: relative;
}

.header #user_info {
    position: absolute;
    left: 0.5em;
}

.header #connection_status {
    position: absolute;
    top: 0.4em;
    right: 0.7em;
}

.body {
    /*自身样式*/
    height: 86vh;
    border-top: 1px solid #aaa;
    /*内部元素的布局方式*/
    display: flex;
}

.body .friend-list {
    border-right: 1px solid #aaa;
    background: #f4f4f4;
    width: 20%;
    min-width: 200px;
}

.body .friend-list .friend {
    border-bottom: 1px solid #ccc;
    padding: 1em;
    background: #f4f4f4;
    cursor: pointer;
}

.body .friend-list .friend:hover {
    background: #eee;
}

.body .friend-list .friend.active {
    background: #ccc;
}

.body .chat {
    background: #eee;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.body .chat .chat-main {
    flex-grow: 1;
}

.body .chat-main .chat-card {
    background: #fafafa;
    width: 100%;
    height: 100%;
    display: none;
}

.body .chat-main .chat-card.active {
    display: block;
}

.body .chat .chat-send {
    height: 200px;
    border-top: 2px solid #ccc;
    display: flex;
    flex-direction: column;
}

.body .chat-send .chat-input {
    resize: none;
    flex-grow: 1;
    border: none;
    padding: 0.5em;
    font-size: large;
}

.body .chat-send .chat-input:focus {
    outline: none;
}

.body .chat-send .chat-send-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    font-size: small;
    color: #bdbdbd;
    background: #fff;
}

.body .chat-send-bottom .chat-send-btn {
    padding: 0.2em 1em;
}