.TITLE {
    text-align: center;
    width: 100%;
    display: table;
    margin: 100px 20px 20px 20px;
}

h1 {
    font-family: YouYuan, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    display: table-cell;
    vertical-align: center;
}

.entry_nav {
    width: 300px;
    margin: 10px auto;
    padding: 50px;
    border: solid;
    border-radius: 40px;
    border-color: gray;
    text-align: center;
}

#button {
    background-color: #FFD100;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: solid;
    border-color: white;
    color: white;
}