.side-left {
    float: left;
    width: 250px;
    border-right: solid;
    border-color: gray;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

.mine {
    width: 250px;
    border-bottom: solid;
    border-color: gray;
}

#head {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

#u_headportrait {
    float: left;
    width: 250px;
    text-align: center;
}

#u_information {
    text-align: center;
    width: 250px;
}

.myposting {
    width: 250px;
    border-bottom: solid;
    border-color: gray;
}

.mycollection {
    width: 250px;
    border-bottom: solid;
    border-color: gray;
}

.postings {
    float: left;
    padding: 30px;
    width: 800px;
    display: block;
}

#posting {
    width: 700px;
    border-bottom: dashed;
    border-color: gray;
}