.side {
    float: right;
    width: 100px;
    border-right: solid;
    border-color: #68D389;
}

.mine {
    width: 100px;
}

#u_headportrait {
    float: left;
    width: 50px;
    height: 50px;
}

#u_information {
    float: right;
    width: 50px;
    height: 50px;
}

.myposting {
    width: 100px;
    border-bottom: solid;
    border-radius: 40px;
    border-color: #68D389;
}

.mycollection {
    width: 100px;
    border-bottom: solid;
    border-radius: 40px;
    border-color: #68D389;
}

.postings {
    float: left;
    width: 800px;
}

#posting {
    width: 800px;
    margin: 20px;
    border-bottom: dashed;
    border-color: #68D389;
}