a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

#mylink:hover,
#clink:hover {
    color: #FFD100;
    text-decoration: underline;
}

.side-left {
    float: left;
    width: 250px;
    border-right: solid;
    border-color: gray;
}

.mine {
    width: 230px;
    border-bottom: solid;
    border-color: gray;
    padding: 10px;
}

#head {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

#u_headportrait {
    float: left;
    width: 250px;
    text-align: center;
}

#u_information {
    text-align: center;
    width: 250px;
}

.myposting {
    width: 230px;
    border-bottom: solid;
    border-color: gray;
    padding: 10px;
}

.mycollection {
    width: 230px;
    border-bottom: solid;
    border-color: gray;
    padding: 10px;
}

.postings {
    float: left;
    padding: 30px;
    width: 600px;
    display: block;
}

#posting {
    width: 600px;
    border-bottom: dashed;
    border-color: gray;
    padding: 10px;
}

#date {
    color: gray;
    font-size: 10px;
}

.side-right {
    float: right;
    padding: 20px;
}