.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

.nav_item {
    cursor: pointer;
    float: left;
    color: #000;
    width: 20%;
    padding: 8px 16px;
    text-align: center;
}

.nav_link {
    display: block;
    color: #000;
    text-decoration: none;
}

.nav_item:hover {
    background-color: #FFD100;
    color: white;
}