.TITLE {
    text-align: center;
    width: 100%;
    display: table;
    margin-top: 100px;
}

h2 {
    display: table-cell;
    vertical-align: center;
}

.message {
    text-align: center;
}

.form-group {
    margin: 25px auto;
    text-align: center;
}

.form-control {
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    width: 40%;
    height: 35px;
    border-color: #FFD100;
}

.bt {
    text-align: center;
}

.btn {
    background-color: #FFD100;
    border-style: none;
    border-radius: 9px;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.haveAccount {
    margin: 20px;
    text-align: center;
}

.noAccount {
    margin: 20px;
    text-align: center;
}