#button {
    display: inline;
}

.postings {
    border-left: solid;
    border-right: solid;
    border-color: gray;
    width: 800px;
    margin: 30px auto;
}

.posting {
    width: 750px;
    border-bottom: dashed;
    border-color: gray;
    padding: 25px 25px;
}

#but_d,
#but_m {
    background-color: #FFD100;
    width: 100px;
    height: 30px;
    border: solid;
    border-color: #fefefe;
    border-radius: 10px;
}