#button {
    display: inline;
}

.postings {
    border-left: solid;
    border-right: solid;
    border-color: gray;
    width: 70%;
    margin: 30px auto;
    text-align: center;
}

.posting {
    width: 70%;
    border-bottom: dashed;
    border-color: gray;
    margin: 30px auto;
    text-align: center;
}

#but_s {
    background-color: #FFD100;
    width: 100px;
    height: 30px;
    border: dashed;
    border-color: #fefefe;
    border-radius: 10px;
}