<link rel="stylesheet" type="text/css" href="/static/css/addposting.css">

{% extends "layout.html" %}

<head>
    <meta charset="UTF-8">
</head>
{% block body %}
    <div class="addposting">
        <form action="/addposting" method="POST">
            {% csrf_token %}
            <input id="input_t" type="text" name="t" placeholder="标题"> 
            <input id="input_c" style="height:100px;width:500px" type="textarea" name="c" placeholder="内容">
            <input id="but_s" type="submit" value="发布" >
        </form>
    </div>
{% endblock %}
