<link rel="stylesheet" type="text/css" href ="/static/css/index.css">
<link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
<script src="/static/layui/layui.js"></script>
{% extends "layout.html" %}
{% block body %}
<div class="body">
    {% if user.is_authenticated %}
    <div class="side-left">
        <div class="mine">
            <div id="u_headportrait">
                <img id="head" src="{{ user.photo_url }}"/>
            </div>
            <div id="u_information">
                <p>用户昵称：{{user.username}}</p>
                <p>个性签名：{{user.signature}}</p>
            </div>
        </div>
        <div class="myposting">
            <h6>我的树洞</h6>
            {% for myposting in mypostings %}
            <a href="{% url 'showposting' %}?p={{myposting.id}}">
                <p>{{myposting.p_Title}}</p>
            </a>
            {% endfor %}
        </div>
        <div class="mycollection">
            <h6>我的收藏</h6>
            {% for collection in mycollection %}
            <a href="{% url 'showposting' %}?p={{collection.Posting_id.id}}">
                <p>{{collection.Posting_id.p_Title}}</p>
            </a>
            {% endfor %} 
        </div>           
    </div>
    {% endif %}
    <div class="postings">
        {% for posting in postings %}
            <a href="{% url 'showposting' %}?p={{posting.id}}">
                <div id="posting">
                    <h3>{{posting.p_Title}}</h3>
                    <p>{{posting.p_Des}}</p>
                    <p>发布于：{{posting.p_Date}}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="side-right">
        <div id="calender">
            <div class="newsbox f_l " id="test-n1">
                <div class="newstitle"><span><a href="/zcfg/">+</a></span><b>日历</b></div>
                    <script>
                        layui.use('laydate', function () {
                            var laydate = layui.laydate;
                            laydate.render({
                                elem: '#test-n1'
                                , position: 'static'
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}