{% load static %}
<link rel="stylesheet" type="text/css" href="/static/css/layout.css">
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Forum{% endblock %}</title>
    </head>
    <body style="background-image: url({% static 'img/背景3.webp' %});background-size:100%;">
        <marquee>欢迎来到mini树洞！今天也是新的一天，请继续加油，要开心！</marquee>
        <div>
            {% if user.is_authenticated %}
                <strong>{{ user.username }}</strong>已登录~
            {% else %}
                纯路人QAQ
            {% endif %}
        </div>
        <ul class="nav" >
            <li class="nav_item" >
                <a class="nav_link" href="{% url 'index' %}">首页</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav_item">
                <a class="nav_link" href="{% url 'addposting' %}">我要发帖</a>
            </li>
            <li class="nav_item" >
                <a class="nav_link" href="{% url 'myself' %}">我是谁啊</a>
            </li>
            <li class="nav_item" >
                <a class="nav_link" href="{% url 'chat' %}">聊天室</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav_item">
                <a class="nav_link" href="{% url 'manage' %}">管理</a>
            </li>
            {% endif %}
            {% else %}
            <li class="nav_item">
                <a class="nav_link" href="{% url 'login' %}">我要登录</a>
            </li>
            <li class="nav_item" >
                <a class="nav_link" href="{% url 'register' %}">我想注册</a>
            </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
