{% load static %}
<link rel="stylesheet" type="text/css" href="/static/css/layout.css">
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Forum{% endblock %}</title>
    </head>
    <body>
        <h1>欢迎来到mini树洞！</h1>
        <div>
            {% if user.is_authenticated %}
                <strong>{{ user.username }}</strong>已登录~
            {% else %}
                纯路人QAQ
            {% endif %}
        </div>
        <ul class="nav" >
            <li class="nav_item" >
                <a class="nav-link" href="{% url 'index' %}">首页</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav_item">
                <a class="nav-link" href="{% url 'addposting' %}">我要发帖</a>
            </li>
            <li class="nav_item" >
                <a class="nav-link" href="{% url 'myself' %}">我是谁啊</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manageposting' %}">管理</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
