{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/logareg.css">
    <title>Login</title>
</head>
<body>
    <div class="TITLE">
        <h2>登录</h2>
    </div>
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="bt">
            <input class="btn" type="submit" value="登录">
        </div>
    </form>
    <div class="noAccount">
        没有账号？点击这里<a href={% url 'register' %}>注册</a>吧~
    </div>
</body>
</html>

