{% extends "layout.html" %}

{% block body %}
    <div class="postings">
        {% for posting in postings %}
            <div class="posting">
                标题：<span>{{posting.p_Title}}</span>
                发布时间：<span>{{posting.p_Date}}</span>
                <form action="/deleteposting" method="GET">
                    <input type="number" value={{posting.id}} name="p" style="display:none">
                    <input type="submit" value="删除该贴">
                </form>
                <form action="/managecomment" method="GET">
                    <input type="number" value={{posting.id}} name="p" style="display:none">
                    <input type="submit" value="管理评论">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}