<link rel="stylesheet" type="text/css" href="/static/css/ManageComment.css">

{% extends "layout.html" %}

{% block body %}
    {% for comment in comments %}
    <div class="comment">
        <div id="c_content">
            {{comment.c_Content}}
        </div>
        <div id="c_delete">
            <form method="GET" action="/deletecomment">
                <input type="hidden" value={{comment.id}} name="c">
                <input id="but_s" type="submit" value="删除该条评论">
            </form>
        </div>
    </div>
    {% endfor %}
{% endblock %}