<link rel="stylesheet" href="../static/css/myself.css">
<script>
    //取消回车提交表单
    $(document).on("keypress", ":input:not(textarea)", function(event) {
    return event.keyCode != 13;
    });
    document.addEventListener('DOMContentLoaded', function() {
        if(document.querySelector('#inf').value=" "){
            document.querySelector('button').style.display='none';
        }else{
            document.querySelector('button').style.display='block';
        }
    });   
</script>
{% extends "layout.html" %}

{% block body %}
    <div class="mainblock">
        <div class="headportrait">
            <img id="photo" src="{{ user.photo_url }}"/>
            <div id="change">
                <form action="/change" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input  type="file" name="head">
                    <input id="button" type="submit" value="修改头像">
                </form>
            </div>
        </div>
        <div class="information">
            <form method="POST" action="/modify">
                {% csrf_token %}
                <div id="inf_item">
                昵 称 ： <input id="inf_n" type="text" name="uname" value={{user.username}}>
                </div>
                <div id="inf_item">
                个性签名：<input id="inf_d" type="textarea" name="usig" value={{user.signature}}>
                </div>
                <input id="button" type="submit" value="确认修改">
            </form>
        </div>
    </div>
    <div class="logout">
        <a href="{% url 'logout' %} " class="alink">爷不待见了</a>
    </div>
{% endblock %}