{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/myself.css">
    <title>{{user.username}}</title>
    <script type="text/javascript" src="../static/js/myself.js"></script>
</head>
<body>
    <div class="mainblock">
        <div class="name">
            <span>用户名：</span>
            <span>{{user.username}}</span>
            {% if message %}
            <span style="color: red; font-weight: 600; margin-left: 40px;">{{message}}</span>
            {% endif %}
            <div class="headpic">
                <img src="{{user.headportrait}}" alt="还没有">
            </div>
        </div>
        <div class="signature">
            <span>签名：</span>
            <span>{{user.signature}}</span>
        </div>
        <div class="chana">
            <form action="{% url 'myself' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="修改用户名" class="input">
                <input type="submit" id="subbtn" value="确定提交" class="button">
            </form>
        </div>
        <div class="tabbar">
            <button id="btn_name" class="funbutton">修改用户名</button> <button id="btn_sig" class="funbutton">修改签名</button> <button id="btn_img" class="funbutton">修改头像</button>
        </div>
    </div>
    <div class="logout">
        <a href="{% url 'logout' %} " class="alink">爷不待见了</a>
    </div>
</body>
</html>