<link rel="stylesheet" href="../static/css/myself.css">
<script>
    function enable(){
        document.getElementById("inf_field").disabled=false;
        document.getElementById("i_button").style.display="inline";
    }   
    function submit(){
        document.getElementById("inf_form").submit();
    }
</script>
{% extends "layout.html" %}

{% block body %}
    <div class="mainblock">
        <div class="headportrait">
            <img id="photo" src="{{ user.photo_url }}"/>
            <div id="change">
                <form action="/change" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input  type="file" name="head">
                    <input id="h_button" type="submit" value="修改头像">
                </form>
            </div>
        </div>
        <div class="information">
            <form method="POST" action="/modify" id="inf_form">
                {% csrf_token %}
                <fieldset id="inf_field" disabled=true>
                <div id="inf_item">
                用户名 : <input id="inf_n" type="text" name="uname" value={{user.username}}>
                </div>
                <div id="inf_item">
                个性签名：<input id="inf_s" type="textarea" name="usig" value={{user.signature}}>
                </div>
                </fieldset>
                <input id="c_button" onclick="enable()" type="button" value="我要修改">
                <input id="i_button" type="button" onclick="submit()" value="保存">
            </form>
        </div>
    </div>
    <div class="logout">
        <a href="{% url 'logout' %} " class="alink">我先溜啦</a>
    </div>
{% endblock %}