<link rel="stylesheet" type="text/css" href="/static/css/posting.css">
<script>
    var flag=false;
    function like(){
        if(flag){
            document.getElementById("but_l").src='static/img/dislike.png';
            flag=false;
        }else{
            document.getElementById("but_l").src='static/img/like.png';
            flag=true;
        }
    }
</script>
{% extends "layout.html" %}
{% block body %}
    <div class="firstfloor">
        <h2>{{posting.p_Title}}</h2>
        <div id="p_date">
            {{posting.landlord_id.username}} 发表于 : {{posting.p_Date}}
        </div>
        <div id="p_description">
            {{posting.p_Des}}
        </div>
        <div id="p_form">
        {% if user.is_authenticated %}
            {% if user.id == posting.landlord_id.id %}
                <form method="GET" action="/icansee">
                    <input name="p" type="hidden" value={{posting.id}}>
                    <input id="s_submit" type="submit" value="仅我可见">
                </form>
            {% endif %}
            {% if user.id != posting.landlord_id.id %}
                <form method="GET" action="/collect">
                    <input name="p" type="hidden" value={{posting.id}}>
                    <input id="co_submit" type="submit" value="收藏">
                </form>
            {% endif %}
        {% endif %}
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="addcomment">
        <form method="GET" action="/addcomment">
            <input name="p" type="hidden" value={{posting.id}}>
            <input id="c_input" type="textarea" name="content" placeholder="我想说......">
            <input id="c_submit" type="submit" value="评论">
        </form>        
    </div>
    {% endif %}
    {% for comment in comments %}
    <div class="comment">
    <div class="c_Body">
        <div id="c_user">
            <img id="c_head" src="{{comment.c_User_id.photo_url}}">
            <div>
                {{comment.c_User_id.username}}
                <form method="GET" action="/makefriend">
                    <input name="u" type="hidden" value={{comment.c_User_id.id}}>
                    <input type="submit" value="加好友">
                </form>
                {{ endif }}
            </div>
        </div>
        <div id="c_content">
            <p>{{comment.c_Content}}</p>
            <p id="c_date">评论于 : {{comment.c_Date}}</p>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="c_Like">
        <form method="GET" action="/like">
            <input name="c" type="hidden" value={{comment.id}}>
            <button id="like" onclick="like()"><img id="but_l" src="static/img/dislike.png"/></button> {{comment.c_Likes}}
        </form>
    </div>
    {% endif %}
    <div>
    {% endfor %}
{% endblock %}