<script>
    function comment(){
        document.querySelector('.addcomment').style.display='block';
    }
</script>

{% extends "layout.html" %}

<link rel="stylesheet" type="text/css" href="/static/css/posting.css">

{% block body %}
    <div class="firstfloor">
        <h1>{{posting.p_Title}}</h1>
        <div id="date">
            发表于 : {{posting.p_Date}}
        </div>
        <div id="describtion">
            {{posting.p_Des}}
        </div>
        <div id="collect">
        {% if user.is_authenticated %}
            {% if user.id == posting.landlord_id.id %}
                <form method="GET" action="/icansee">
                    <input name="p" value={{posting.id}} type="number" style="display:none">
                    <input type="submit" value="仅我可见">
                </from>
            {% endif %}
            {% if user.id != posting.landlord_id.id %}
                <form method="GET" action="/collect">
                    <input name="p" value={{posting.id}} type="number" style="display:none">
                    <input type="submit" value="收藏">
                </from>
            {% endif %}
        {% endif %}
            <button onclick="comment()">评论</button>
        </div>
    </div>
    <div class="addcomment" style="display:none">
        <form method="GET" action="/addcomment">
            <input type="textarea" name="content" placeholder="我想说......">
            <input type="submit" value="评论">
        </form>        
    </div>
    {% for comment in comments %}
    <div class="comment">
        <div id="c_user">
            <img src="{{comment.c_User_id.headportrait}}">
            <p>{{comment.c_User_id.username}}</p>
        </div>
        <div id="c_content">
            {{comment.c_Content}}
        </div>
        <div class="c_Date">
            评论于 : {{comment.c_Date}}
        </div>
        <div class="c_Like">
            <form method="GET" action="/like">
                <button id="like?" onclick="likechange()" name="l"><img src="https://s3.bmp.ovh/imgs/2022/04/29/72e97020c84f2106.png"></button>{{comment.c_Likes}}
            </form>
        </div>
    </div>
    {% endfor %}
{% endblock %}